<!doctype html>
<html lang='es'>

<head>
    <%- include('./templates/header')%>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header" style="background-color: rgb(20, 18, 18);">
                <div class="col-12">
                    <h1 style="color: rgb(243, 255, 235); font-family:sans-serif; text-align: left;"><img src="/images/servicio.png"
                            class="img-fluid rounded-start" alt="Icono spa"> Nuestros servicios
                    </h1>
                </div>
            </div>
            
            <div class="card-body">
                <%- include('./templates/navbar')%>
                <br>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <h3 style="color: rgb(177, 38, 38); font-family:sans-serif; text-align: left;"><img src="/images/peluqueria.png"
                                class="img-fluid rounded-start" alt="Icono spa"> Peluquería
                             </h3>
                        </div>
                        <br>
                        <div class="row">
                            <h3 style="color: rgb(177, 38, 38); font-family:sans-serif; text-align: left;"><img src="/images/vacuna.png"
                                class="img-fluid rounded-start" alt="Icono spa"> Vacunación
                             </h3>
                        </div>
                        <br>
                        <div class="row">
                            <h3 style="color: rgb(177, 38, 38); font-family:sans-serif; text-align: left;"><img src="/images/cirugia.png"
                                class="img-fluid rounded-start" alt="Icono spa"> Cirugia
                             </h3>
                        </div>
                        <br>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <h3 style="color: rgb(177, 38, 38); font-family:sans-serif; text-align: left;"><img src="/images/rx.png"
                                class="img-fluid rounded-start" alt="Icono spa"> Radiología
                             </h3>
                        </div>
                        <br>
                        <div class="row">
                            <h3 style="color: rgb(177, 38, 38); font-family:sans-serif; text-align: left;"><img src="/images/comida.png"
                                class="img-fluid rounded-start" alt="Icono spa"> Nutrición
                             </h3>
                        </div>
                        <br>
                        <div class="row">
                            <h3 style="color: rgb(177, 38, 38); font-family:sans-serif; text-align: left;"><img src="/images/reporte.png"
                                class="img-fluid rounded-start" alt="Icono spa"> Tratamiento
                             </h3>
                        </div>
                        <br>
                    </div>
                    <div class="col-4">
                        <br>
                        <div class="row">
                            <h5> <img src="/images/veterinario2.png"
                                class="img-fluid rounded-start" alt="Icono spa"> Acceso veterinario</h5>
                        </div>
                        <div class ="d-grid gap col-10">
                            <a class="btn btn-danger" href="/login" role="button" style="border-radius: 14px;" id="newUser">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
                                  </svg> Citas</a>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <br>
    <%- include('./templates/footer')%>
</body>

</html>